PORT=8081
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
API_PUBLIC_BASE_URL=http://localhost:8081
WEB_APP_INTERNAL_URL=http://localhost:3244
CORS_ALLOWED_ORIGINS=http://localhost:3244

